@import url(normalize.css);

* {
    box-sizing: border-box;
}

:root {
    --font-family: 'Rubik', sans-serif;
    --size: 17px;
    --weight: bold;
    --width: 55px;
    --font-size_nubmer: 26px;
    --font-size_text: 20px;
}
.square__button:hover {
    background-color: white;
    color: red;
    transition: ease-in-out 0.4s;
    filter: drop-shadow(0px 3px 8px #f92d2d);
}

.hdr__container {
    margin: 0 auto; 
    width: 1171px;
    box-sizing: border-box;
}

.hdr__logo {
    margin-right: 156px;
}

.hdr__nav {
    align-items: center;
    display: flex;
    margin-top: 38px;
    }

.hdr__menu {
    display: flex;
    list-style-type: none; /* декоративна частина ul тега(знімає маркування)*/
    padding-top: 5px;
    padding-left: 0;
}

.hdr__menu li a {  
    color: #4F5665;
    font-family: var(--font-family);
    margin-right: 30px;
    padding: 5px;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.hdr__menu li a:hover {
    color: red;
    transition: ease-in-out 0.3s;
}

.hdr__buttons {
    display: flex;
    margin-left: auto;
    padding-right: 11px;
}

.unbordered__button {
    padding: 9px 5px 5px 5px;
    font-family: var(--font-family);
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--weight);
    margin-right: 25px;
    transition: ease-in-out 0.5s;
} 

.unbordered__button:hover {
    transition: ease-in-out 0.3s;
    opacity: 0.6;
}

.bordered__button {
    background-color: white;
    border-radius: 50px;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: var(--weight);
    height: 50px;
    width: 155px;
    transition: ease-in-out 0.4s;
} 

.rounded__button:hover {
    background-color: red;
    color: white;
    transition: ease-in-out 0.6s;
}

.banner__wrapper {
    margin: auto;
    display: flex;
    height: 521px;
    align-items: center;
    max-width: 1440px;
    position: relative;
}  

.banner__container {
    z-index: 0;
    margin: 0 auto;
    width: 1171px;
    padding-left: 15px;
}

.banner__img {
    z-index: 1;
    position: absolute;
    right: 80px;
    top: 85px;
}

.banner__heading {
    width: 46%;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    line-height: 71px;
    margin-bottom: 18px;
}

.heading__bold {
    letter-spacing: 1px;
    padding: 1px;
}

.banner__paragraph {
    width: 46%;
    color: #4F5665;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
}

.banner__button {
    background-color: #F53838;
    border-radius: 10px;
    border: 1px solid #F53838;
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
    height: 60px;
    width: 252px;
    line-height: 1px;
    transition: ease-in-out 0.5s;
}

.info__container {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 203px;
    justify-content: space-evenly;
    margin: 3em auto;
    width: 1140px;
}

.user__number {
    font-family: 'Rubik', sans-serif; 
    font-size: var(--font-size_nubmer);
}

.user__text {
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size_text);
}

.info__user, .info__location, .info__server {
    display: flex;
    align-items: center;
}

.info__img {
    padding-right: 39px;
}

.info__border {
    border: solid 1px #EEEFF2;
    height: 125px;
}

.service__container {
    display: flex;
    justify-content: space-between;
    margin: 95px auto;
    width: 1140px;
}

.service__img {
    padding-left: 33px;
    height: 415px;
}

.service__check {
    padding-right: 10px;
}

.service__text {
    padding-top: 24px;
}

.service__heading {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;    
    line-height: 50px;
    margin-bottom: 20px;
}

.service__paragraph {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 23px;
}

.service__list {
    padding-left: 0px;
}

.service__list li {
    align-items: center;
    color: #4F5665;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}

.plan__container {
    width: 1190px;
    margin: auto;
}

.plan__text__container {
    margin-top: 178px;
    text-align: center;
}

.plan__text {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 34px;    
}

.plan__heading {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    margin-bottom: 25px;
}

.plan__paragraph {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.plan__option__container {
    display:flex;
    justify-content: space-evenly;
    margin-top: 59px;
}

 .plan__package { 
    align-items: center;
    border-radius: 10px;
    border: solid 2px #DDDDDD;  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 47px;
    height: 761px;
    padding-top: 77px;
    transition: ease-in-out 0.6s;
    width: 330px; 
}

.plan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__list {
    color:#4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin-bottom:0;
    padding-left: 0;
    margin-top: 38px;
}

.plan__list li {
    align-items: center;
    display: flex;
    padding-bottom: 15px;
}

.plan__list__img {
    padding-right: 20px;
}

.plan__price { 
    font-family: 'Rubik', sans-serif;
    font-size: 25px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__price__text {
    color:#4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.plan__button {
    background-color: white;
    border-radius: 50px;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--size);
    font-weight: var(--weight);
    height: 48px;
    margin-top: 17px;
    padding-top: 3px; 
    transition: ease-in-out 0.4s; 
    width: 177px;
}

.plan__package:hover {
    border: solid 2px #F53838;
    transition: ease-in-out 0.5s;
}

.vpnNetwork__container {
    width: 1148px;
    margin: auto;
}

.vpnNetwork__text {
    padding-top: 121px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.vpnNetwork__heading {
    margin-bottom: 21px;
    font-size: 35px;
    line-height: 50px;
}

.vpnNetwork__paragraph {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.vpnNetwork__map {
    position: sticky;
    left: 190px;
    margin-top: 139px;
    margin-bottom: 30px; 
}

.slider__container {
    width: 1300px;
    margin: auto;
}

.slider__text {
    padding-top: 17px;
    text-align: center;

}

.slider__heading {
    font-size: 35px;
    margin-bottom: 19px;
    line-height: 50px;
    font-family: 'Rubik', sans-serif;
}

.slider__paragraph {
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
}

.slider__review__container {
    display: flex;
    margin: 59px auto 0px;
    width: 1241px;
    justify-content: space-evenly;
}

.slider__review {
    cursor: pointer;
    padding: 30px 26px 20px 29px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    transition: ease-in-out 0.6s;
}

.slider__review__text {
    margin-top: 10px;
}

.slider__review:hover {
    border: solid 2px #F53838;
    transition: ease-in-out 0.5s;
}

.slider__review__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__review__userInfo {
    display: flex;
    flex-direction: column;
    margin-right: 86px;
}

.slider__review__name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.slider__review__location {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #4F5665;
}

.slider__review__mark {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.mark__img {
    margin-left: 10px;
}

.slider__review__text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.slider__review__paragraph {
    margin: 0;
}

.slider__controls__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 1218px;
    margin: 30px auto 0;
    height: 100px; 
}

.slider__switch__container {
    display: flex;
    height: 15px;
}

.slider__controls__switch {
    cursor: pointer;
    transition: background-color ease-in-out 0.5s;
    width: 15px;
    height:15px;
    background-color: #DDE0E4;
    border-radius: 50%;
    margin-right: 16px;  
}

.slider__controls__switch:hover {
    transition: background ease-in-out 0.4s;
    background-color: #F53838;
}

.slider__controls__buttons {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.slider__button {
    border: solid 2px red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background ease-in-out 0.6s;
}

.slider__button:hover {
    background-color: #F53838;
}

.arrow__left {
    transition: border ease-in-out 0.3s;
    transform: rotate(315deg);
    border-radius: 1px;
    width: 13px;
    height: 13px;
    border-top: 2px solid #F53838;
    border-left: 2px solid #F53838;
  }

.arrow__right { 
    transition: border ease-in-out 0.3s;
    transform:rotate(135deg);
    border-radius: 1px;
    width: 13px;
    height: 13px;
    border-top: 2px solid #F53838;
    border-left: 2px solid #F53838;
}

.arrow__right::before{
    transition: background-color ease-in-out 0.4s;
    border-radius: 30px;
    content: "";
    display: block;
    width: 1.3px;
    height: 18px;
    background-color: #F53838;
    transform: rotate(-45deg) translate(6px, 1px); 
} 

.arrow__left::before{   
    transition: background-color ease-in-out 0.4s;
    border-radius: 30px;
    content: "";
    display: block;
    width: 1.3px;
    height: 18px;
    background-color: #F53838;
    transform: rotate(-45deg) translate(6px, 1px);
} 

.slider__button:hover .arrow__right {
    transition: border ease-in-out 0.4s;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.slider__button:hover .arrow__left {
    transition: border ease-in-out 0.4s;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.slider__button:hover .arrow__left::before {
    background-color: #FFFFFF;
}

.slider__button:hover .arrow__right::before {
    transition: background border ease-in-out 0.4s;
    background-color: #FFFFFF;
}

.arrow__left:hover{
    transition: border ease-in-out 0.4s;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.arrow__left, .arrow__right {
    margin-left: 15px;
}

.subscribe__container {
    padding: 50px 71px 56px 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1143px;
    margin: 56px auto 0;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.subscribe__text {
    width: 359px;
}

.subscribe__heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    line-height: 44px;
}

.subscribe__description {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #4F5665;
}

.subscribe__button {
    background-color: #F53838;
    border-radius: 10px;
    border: 1px solid #F53838;
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 17px;
    height: 60px;
    width: 252px;
    line-height: 1px;
    transition: ease-in-out 0.5s;
}


.footer__container {
    width: 1141px;
    margin: 63px auto;
    display: flex;
    justify-content: space-between;
}

.footer__info__container {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 66px;
}

.footer__logo {
    width: 149px;
    height: 38.23px;
}

.footer__info__paragraph {
    color: #4F5665;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    line-height: 30px;
}

.footer__info__text {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #AFB5C0;
}

.footer__navigation__container {
    display: flex;
    justify-content: space-between;
    width: 571px;
}

.footer__navigation__heading {
    margin-top: 9px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.footer__navigation__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer__info__link {
    float: left;
}

.footer__navigation__menu a {
    transition: color ease-in-out 0.5s;
    margin-bottom: 22px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #4F5665;
    text-decoration: none;
}

.footer__navigation__menu a:hover {
    transition: color ease-in-out 0.3s;
    color: red;
}
